* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-title {
  display: flex;
  flex-flow: row wrap;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-recipe {
  background-color: var(--l3);
  border: 2px solid var(--l3);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.card-img {
  height: 100%;
  width: 100%;
}

.card-name {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header-top-foods {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-link {
  color: black;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}

.main-content {
  margin-bottom: 50px;
}
