* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--l3);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-img {
  display: flex;
  justify-content: space-around;
}

.footer-fixed {
  bottom: 0;
  margin-left: -12px;
  position: fixed;
}

.recipe-details {
  margin-bottom: 40px;
}

