body {
  background: var(--l2);
}

.login-page-title {
  align-items: center;
  color: var(--l1);
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.login-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.password-input, .email-input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

.login-submit-btn {
  background-color: var(--l1);
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.login-submit-btn:disabled {
  background-color: #ccc;
}

.App-logo {
  align-items: center;
  display: flex;
  padding: 40px 20px;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
