* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-page {
  height: 640px;
  width: 320px;
}

.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-title {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-around;
  margin-bottom: 20px;
}

.done-btn {
  background-color: #00a8ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.favorite-btn {
  background-color: #00a8ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.logout-btn {
  background-color: #00a8ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 22px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.profile-email {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
