* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-button {
  background-color: #4c60af;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

.container-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.search-radio {
  margin-right: 1rem;
}

.search-label {
  font-size: 1.4rem;
  margin-right: 1rem;
}
